
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

body {
  font-family: "Lato", Helvetica Neue, Helvetica, sans-serif;
}

weather-component {
  border-radius: 5px;
  border-color: black;
  padding: 10px;
}
